Jim Braun <jbraun@icecube.wisc.edu> jimbraun <jbraun@icecube.wisc.edu>
Michele Peresano <peresano.michele@gmail.com> Michele Peresano <michele.peresano@cea.fr>
Michele Peresano <peresano.michele@gmail.com> Michele Peresano <michele.peresano@to.infn.it>
Segev BenZvi <sybenzvi@icecube.wisc.edu>
Ian Wisher <IanWisher@gmail.com> Lilcupcake <IanWisher@gmail.com>
Ian Wisher <IanWisher@gmail.com> Lilcupake <IanWisher@gmail.com>
Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> Maximilian Nöthe <maximilian.noethe@tu-dortmund.de>
Hugo Ayala <hgchavo05@gmail.com> hayalaso <hgchavo05@gmail.com>
John Pretz <john.pretz@gmail.com>
Colas Riviere <riviere@umd.edu>